@tailwind base;
* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #ffffff;
  scroll-behavior: smooth;
}

h1 {;
  @apply flex justify-center text-5xl font-bold h-14 w-full;
}

h2 {
  @apply text-2xl h-fit
}

h3 {
  @apply text-xl h-fit
}

p {
  @apply leading-tight;
}

ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 1rem 0 0;
}

h1 > a {
  text-decoration: none;
}
input,
textarea {
  @apply border rounded-lg block w-full p-2.5 bg-gray-700
  border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500
}
input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  line-height: 1em;
  @apply h-4 w-4 p-0 text-center text-blue-600 rounded-sm focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border border-gray-600
}
input[type="checkbox"]:checked {
  @apply bg-blue-600 border-blue-600
}
input[type="checkbox"]:checked::before {
  content: '\2713';
  margin-top: -3px;
  margin-left: -5px;
  @apply text-white text-sm font-bold absolute
}
input[type="radio"] {
  appearance: none;
  @apply h-4 w-4 p-0 rounded-full text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border border-gray-600
}
input[type="radio"]:checked {
  @apply bg-blue-600 border-blue-600 ring-offset-white flex items-center justify-center
}
input[type="radio"]:checked::before {
  content: "";
  @apply w-[7px] h-[7px] rounded-full bg-white
}

form {
  @apply max-w-md mx-auto
}
label {
  @apply block ms-2 font-medium text-white
}
select {
  @apply border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500
}

@tailwind components;
a.primary,
button.primary {
  @apply text-white font-medium rounded-lg text-sm px-3 py-2 text-center
  bg-blue-600 hover:bg-blue-700
}
a.primary:disabled,
button.primary:disabled {
  @apply text-white font-medium rounded-lg text-sm px-3 py-2 text-center
  bg-gray-600
}

a.secondary,
button.secondary {
  @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium rounded-lg border
  bg-gray-800 text-gray-400 border-gray-600
  hover:text-white hover:bg-gray-700
}

a.link {
  @apply text-blue-600 dark:text-blue-500 hover:underline
}

.label {
  @apply block ms-2 font-medium text-white
}

.error {
  @apply text-rose-600
}

input.error,
textarea.error {
  @apply border border-rose-600 placeholder-rose-600
}

.form-error {
  padding: 1rem;
  display: inline-block;
  @apply text-rose-600
}

.form-error ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}

.form-error li {
  display: list-item;
}

p.secondary {
  @apply block text-gray-400
}

@tailwind utilities;
